## Print function

In [ ]:
age = 23
name = 'ashraf'

print('my name is ', name,'and i am of ', age, 'years old', sep= "|" )

my name is |ashraf|and i am of |23|years old

In [ ]:
print('my name is ', name,'and i am of ', age, 'years old', sep= "," )

my name is ,ashraf,and i am of ,23,years old

In [ ]:
print('I am', name)

I am ashraf

In [ ]:
print('hello world', end = "|")
print(' I am', name)

hello world|I am ashraf

## Help function

In [ ]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [ ]:
# custom function
def test_func(a,b):
  """
  a: value 1
  b: value 2

  returns: int
  """
  return a+b

In [ ]:
help(test_func)

Help on function test_func in module __main__:

test_func(a, b)
    a: value 1
    b: value 2

    returns: int

## Range function

In [ ]:
rng = range(10)
print(list(rng))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
rng = range(2, 10) # 2 is the start value
print(list(rng))

[2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
rng = range(2, 10, 3) # 3 is an incremental value
print(list(rng))

[2, 5, 8]

In [ ]:
rng = range(10, -10, -2) # 10 to -10 with an decremental of -2
print(list(rng))

[10, 8, 6, 4, 2, 0, -2, -4, -6, -8]

In [ ]:
rng = range(10, -10, -2) # 10 to -10 with an decremental of -2
print(rng) # without passing as list range gives the object # as in an interatorr

range(10, -10, -2)

## Map function

In [ ]:
strings = ['My', 'world', 'is', 'apple', 'mangoes']

len(strings)

5

In [ ]:
lengths = map(len, strings) # len is the python function that gives the len of word in string
print(list(lengths))

[2, 5, 2, 5, 7]

In [ ]:
lengths = map(lambda x: x + 's', strings) # using the lambda function to make plurals
print(list(lengths))

['Mys', 'worlds', 'iss', 'apples', 'mangoess']

In [ ]:
def add_es(string):
  return string + 'es'

lengths = map(add_es, strings) # defining a custom fucntion that addes 'es'
print(list(lengths))

['Myes', 'worldes', 'ises', 'applees', 'mangoeses']

## Filter function
 - It will take all items in the iterable object, then pass it to a compatible function

In [23]:
def longer_than_4(string):
  return len(string) > 4

strings = ['My', 'world', 'is', 'apple', 'mangoes']
filtered = filter(longer_than_4, strings)
print(list(filtered))

['world', 'apple', 'mangoes']

In [24]:
# we can even use lambda function as well

filtered = filter(lambda x: len(x) > 4, strings)
print(list(filtered))

['world', 'apple', 'mangoes']

## Sum function
 - sum of all numbers passed inside the iterables are numbers ~ int, float

In [25]:
number = {1, 4.5, 5, 23, 2}
print(sum(number))

35.5

In [26]:
number = {1, 4.5, 5, 23, 2}
print(sum(number, start= 10))

45.5

In [27]:
number = {1, 4.5, 5, 23, 2}
print(sum(number, start= -10))

25.5

## Sorted function
 - sorts in ascending/descending

In [30]:
number = {1, 4.5, 4, -1, 0, 5, 23, 2}
sorted(number)

[-1, 0, 1, 2, 4, 4.5, 5, 23]

In [31]:
number = [1, 4.5, 4, -1, 0, 5, 23, 2]
sorted_nums = sorted(number)

print(sorted_nums)

[-1, 0, 1, 2, 4, 4.5, 5, 23]

In [32]:
number = [1, 4.5, 4, -1, 0, 5, 23, 2]
sorted_nums = sorted(number, reverse = True)

print(sorted_nums)

[23, 5, 4.5, 4, 2, 1, 0, -1]

In [33]:
people = [
    {'name': 'Alice', 'age': 25},
    {'name': 'Bob', 'age': 30},
    {'name': 'Charlie', 'age': 20},
    {'name': 'David', 'age': 35},
]

sorted_people = sorted(people, key = lambda x: x['age'], reverse=True)
print(sorted_people)

[{'name': 'David', 'age': 35}, {'name': 'Bob', 'age': 30}, {'name': 'Alice', 'age': 25}, {'name': 'Charlie', 'age': 20}]

## Enumerate function
 - index, value ~

In [37]:
tasks = ['wrote report', 'attend meeting', 'do coding', 'watch lectures', 'review github', 'submit assignment']

for index in range(len(tasks)):
  task = tasks[index]
  print(f"{index + 1}. {task}")

1. wrote report
2. attend meeting
3. do coding
4. watch lectures
5. review github
6. submit assignment

In [38]:
for index, task in enumerate(tasks): # 1st object = index and 2nd object = task
  print(f"{index + 1}. {task}")

1. wrote report
2. attend meeting
3. do coding
4. watch lectures
5. review github
6. submit assignment

In [40]:
print(list(enumerate(tasks))) # tuple of index, value

[(0, 'wrote report'), (1, 'attend meeting'), (2, 'do coding'), (3, 'watch lectures'), (4, 'review github'), (5, 'submit assignment')]

## Zip function

In [41]:
names = ['Alice', 'Bob', 'Charlie', 'David']
ages = [25, 30, 20, 35]

for idx in range(min(len(names), len(ages))): # why min of names and ages is used, if we get an extra varible that doesnt have a corresponding, it will throw an error
  name = names[idx]
  age = ages[idx]
  print(f'{name} is {age} years old') # corresponding values name age in an expression

Alice is 25 years old
Bob is 30 years old
Charlie is 20 years old
David is 35 years old

In [45]:
names = ['Alice', 'Bob', 'Charlie', 'David', 'Ashraf']
ages = [25, 30, 20, 35, ]

for idx in range(min(len(names), len(ages))): # why min of names and ages is used, if we get an extra varible that doesnt have a corresponding, it will throw an error
  name = names[idx]
  age = ages[idx]
  print(f'{name} is {age} years old') # corresponding values name age in an expression

Alice is 25 years old
Bob is 30 years old
Charlie is 20 years old
David is 35 years old

In [46]:
combined = list(zip(names, ages)) # zip function automatically combines the lens
print(combined)

[('Alice', 25), ('Bob', 30), ('Charlie', 20), ('David', 35)]

In [47]:
for name, age in combined:
  print(f'{name} is {age} years old')

Alice is 25 years old
Bob is 30 years old
Charlie is 20 years old
David is 35 years old

In [50]:
names = ['Alice', 'Bob', 'Charlie', 'David', 'Ashraf']
ages = [25, 30, 20, 35, ]
gender = ['male', 'female', 'male', ]

combined = list(zip(names, ages, gender)) # zip function automatically combines the lens min
print(combined)

[('Alice', 25, 'male'), ('Bob', 30, 'female'), ('Charlie', 20, 'male')]

In [51]:
for name, age, gende in combined:
  print(f'{name} with the gender {gende} is {age} years old')

Alice with the gender male is 25 years old
Bob with the gender female is 30 years old
Charlie with the gender male is 20 years old

## Open function
 - use to open and read files - r= read, w= write, a= append, wr= reading and writing, ra= reading and appending etc

In [53]:
file = open('test.txt', 'w')
file.write("hellow world \n my name is ashraf")
file.close()

In [54]:
with open('test.text', 'w') as file:
  file.write("hellow world \n my name is ashraf")

In [56]:
with open('test.txt', 'r') as file:
  text = file.read()
  print(text)

hellow world
 my name is ashraf

In [57]:
with open('test.txt', 'a') as file:
  file.write('\n adding new text')

In [58]:
with open('test.txt', 'r') as file:
  text = file.read()
  print(text)

hellow world
 my name is ashraf
 adding new text