In [1]:
name = 'someone'
print(f'Hello, {name}')

Hello, someone

In [2]:
# multiple

state = 'telangana'

print(f'Hello, {name} from {state}')

Hello, someone from telangana

In [3]:
# building upon

print(f'Hello, {name.upper()} from {state.upper()}')

Hello, SOMEONE from TELANGANA

In [4]:
# classes

class player:
  def __init__(self, name, team):
    self.name = name
    self.team = team

player1 = player('virat', 'csk')
player2 = player('dhoni', 'rcb')

In [5]:
print(f'player: {player1.name}, Team: {player1.team}')
print(f'player: {player2.name}, Team: {player2.team}')

player: virat, Team: csk
player: dhoni, Team: rcb

In [ ]:
# math in f strings

In [6]:
print(f' 5 squared: {5**2}')

 5 squared: 25

In [7]:
a = 5
b = 13

print(f'what is {a} * {b}? It"s {a * b}' )

what is 5 * 13? It"s 65

In [8]:
# padding

In [10]:
x = 5

print(f'format {x:02}')

format 05

In [11]:
print(f'format {x:06}') # see the increase in number of 0 added

format 000005

In [12]:
# precision ~~~ rounding

In [13]:
x = 5.111111111111111111111111111111111111111111111111111111111111111

In [15]:
print(f'format {x:.2}') # i am using 0.2

format 5.1

In [16]:
print(f'format {x:.6}')

format 5.11111

In [ ]:
# dates

In [17]:
from datetime import datetime

random_date = datetime(2011,1,1)

formatted_date = random_date.strftime('%B %d %Y')

In [18]:
print(f'Date Formatted: {formatted_date}')

Date Formatted: January 01 2011

In [19]:
# Dicitonaries

In [21]:
player = {'name': 'abdviller', 'team': ' rcb', 'number':22}
player

{'name': 'abdviller', 'team': ' rcb', 'number': 22}

In [24]:
# print(f'All star {player['name']}, is from {player["team"]} and has a {player['number']}') # classsic example of usage and importance of "" and ''
print(f'All star {player["name"]}, is from {player["team"]} and has a {player["number"]}')

All star abdviller, is from  rcb and has a 22

In [ ]:
# multi line f strings

In [35]:
name = 'abdviller'
team = ' rcb'
number = 22

In [36]:
player = f"""
name: {name}
team: {team}
number: {number}
"""
player

'\nname: abdviller\nteam:  rcb\nnumber: 22\n'

In [37]:
print(player)

name: abdviller
team:  rcb
number: 22

In [38]:
for i in range(3,7):
  print(f"Number: {i}: {i**2}")

Number: 3: 9
Number: 4: 16
Number: 5: 25
Number: 6: 36